{{>header}}

{{^authenticated}}
<h1>Hi! Sign up today!</h1>
{{/authenticated}}
{{#authenticated}}
{{#account}}
<h1>Hi {{username}}!</h1>
<p>Thanks for trying out this Turnstile demo! Turnstile is the easiest way to set up authentication with Perfect. </p>
<p>We've generated a set of API Keys for you, which you can use to grab your full profile data via Basic Authentication to <a href="/api/me"><code>/api/me</code></a>. Your API Key ID is: <code>{{api_key_id}}</code>, and secret is: <code>{{api_key_secret}}</code>.</p>
<p>You can use curl to test the API endpoint: </p>
<p><pre>curl -u {{api_key_id}}:{{api_key_secret}} {{baseURL}}/api/me</pre></p>
{{/account}}
{{/authenticated}}

<p>Learn More about Turnstile</p>

<ul>
<li><a href="https://github.com/stormpath/Turnstile">Turnstile on GitHub</a></li>
<li><a href="https://github.com//stormpath/Turnstile-Perfect">Turnstile's Perfect Integration</a></li>
<li><a href="https://github.com/edjiang/PerfectAuth">This demo app's code on GitHub</a></li>
</ul>

{{>footer}}
